<!-- templates/account/password_change.html -->
{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <h2 class="mb-4">Change Password</h2>

          <form method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}