<!-- templates/account/password_change.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 d-none d-md-block">
          {% include 'dashboard/_sidebar_dashboard.html' %}
        </div>
        <div class="col-md-9  card shadow-sm py-4">
            {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} vs-btn my-4"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
          <h2 class="mb-4">Change Password</h2>
          

            
          <form method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="vs-btn my-4" type="submit">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}