{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ destination.name }}
{% endblock %}

{% block content %}
  <!-- ================= Breadcrumb Area start ================= -->
  <section class="vs-breadcrumb" data-bg-src="{% static 'img/bg/breadcrumb-bg.png' %}">
    <img src="{% static 'img/icons/cloud.png' %}" alt="vs-breadcrumb-icon" class="vs-breadcrumb-icon-1 animate-parachute" />
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="breadcrumb-content">
            <h1 class="breadcrumb-title">{{ profile.user.username }}'s Profile</h1>
          </div>
          <div class="breadcrumb-menu">
            <ul class="custom-ul">
              <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li>Organization: {{ profile.organization_name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================= Breadcrumb Area end ================= -->



{% if destinations %}
      <!--================= Tour Package Area start =================-->
      <section class="vs-tour-package style-2 space">
        <div class="container">
          <div class="row">
            <div class="col-lg-auto mx-auto">
              <div class="title-area text-center">
                <span
                  class="sec-subtitle text-capitalize fade-anim"
                  data-direction="top"
                  >Choose Your Package</span
                >
                <h2 class="sec-title fade-anim" data-direction="bottom">
                  Destinations by {{ profile.organization_name }}
                </h2>
              </div>
            </div>
          </div>
          <div class="row g-4">
            {% for destination in destinations %}
            <div class="col-md-6 col-xl-4">
              <div class="tour-package-box style-3 bg-white-color">
                
                {% if destination.image  %}
                <div class="tour-package-thumb">
                  <img
                    src="{{ destination.image.url }}"
                    alt="{{ destination.name }}"
                    class="w-100"
                  />
                </div>
                {% endif %}
                  

                <div class="tour-package-content">
                  <div class="location">
                    <i class="fa-sharp fa-light fa-location-dot"></i>
                    <span>{{ destination.location }}</span>
                  </div>
                  <h5 class="title line-clamp-2">
                    <a href="{% url 'destination-detail' slug=destination.slug %}">{{ destination.name }}</a>
                  </h5>
                  <div class="tour-package-footer">
                    <div class="tour-duration">
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 0C3.58888 0 0 3.58888 0 8C0 12.4111 3.58888 16 8 16C12.4111 16 16 12.4111 16 8C16 3.58888 12.4111 0 8 0ZM8 15C4.14013 15 1 11.8599 1 8C1 4.14013 4.14013 1 8 1C11.8599 1 15 4.14013 15 8C15 11.8599 11.8599 15 8 15Z"
                          fill="#556065"
                        />
                        <path
                          d="M8.5 3H7.5V8.20702L10.6465 11.3535L11.3535 10.6465L8.5 7.79295V3Z"
                          fill="#556065"
                        />
                      </svg>
                      <span>{{ destination.duration_days }} Days</span>
                    </div>
                    <div class="pricing-info fw-medium">
                      From
                      <del class="text-theme-color fw-semibold">${{destination.old_price}}</del>
                      <h5 class="new-price">${{ destination.price}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
              <!-- Pagination -->
    {% if is_paginated %}
      <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
          {% endif %}

          <li class="page-item disabled">
            <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
          </li>

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
        </div>
      </section>
{% else %}
  <p>This organization has not created any destinations yet.</p>
{% endif %}

{% endblock %}