{% load static %}
<section class="vs-breadcrumb" data-bg-src="{% static 'img/bg/breadcrumb-bg.png' %}">
  <img src="{% static 'img/icons/cloud.png' %}" alt="vs-breadcrumb-icon" class="vs-breadcrumb-icon-1 animate-parachute" />
  <img src="{% static 'img/icons/ballon-sclation.png' %}" alt="vs-breadcrumb-icon" class="vs-breadcrumb-icon-2 animate-parachute" />
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="breadcrumb-content">
          <h1 class="breadcrumb-title">Latest News</h1>
        </div>
        <div class="breadcrumb-menu">
          <ul class="custom-ul">
            <li><a href="index.html">Home</a></li>
            <li>our blog</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>