
{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
      <!--================= Breadcrumb Area start =================-->
      <section
        class="vs-breadcrumb"
        data-bg-src="{% static 'img/bg/breadcrumb-bg.png' %}"
      >
        <img
          src="{% static 'img/icons/cloud.png' %}"
          alt="vs-breadcrumb-icon"
          class="vs-breadcrumb-icon-1 animate-parachute"
        />
        <img
          src="{% static 'img/icons/ballon-sclation.png' %}"
          alt="vs-breadcrumb-icon"
          class="vs-breadcrumb-icon-2 animate-parachute"
        />
        <div class="container">
          <div class="row text-center">
            <div class="col-12">
              <div class="breadcrumb-content">
                <h1 class="breadcrumb-title">Contact us</h1>
              </div>
              <div class="breadcrumb-menu">
                <ul class="custom-ul">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li>Contact Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================= Breadcrumb Area end =================-->

      <!--================= Contact Area Start =================-->
      <section class="vs-contact space">
        <div class="container">
          <div class="row g-4 gx-xl-5 overflow-hidden">
            <div class="col-lg-5">
              <div class="title-area text-start mb-2">
                <span class="sec-subtitle style-2">{{contact_data.subtitle}}</span>
                <h2 class="sec-title">{{contact_data.title}}</h2>
              </div>
              <div class="vs-contact-info mt-3 mb-2"> 
                <p>
                  <span class="text-theme-color fw-bold">Address:</span> {{contact_data.address}}
                </p>
                <div class="vs-contact-list">
                  <div class="contact-item">
                    <span class="icon">
                      <i class="fa-solid fa-phone-volume"></i>
                    </span>
                    <div class="info">
                      <h6 class="info-title">Customer Service :</h6>
                      {% for phone in contact_data.phone_numbers.all %}
                      <p><a href="tel:{{ phone.number }}">{{ phone.number }}</a></p>
                    {% endfor %}
                    </div>
                  </div>
                  <div class="contact-item">
                    <span class="icon">
                      <i class="fa-light fa-envelope"></i>
                    </span>
                    <div class="info">
                      <h6 class="info-title">careers :</h6>
                      {% for email in contact_data.emails.all %}
                      <p><a href="mailto:{{ email.email }}">{{ email.email }}</a></p>
                    {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="social-follow">
                  <span>Follow Us :</span>
                  <ul class="custom-ul">
                    {% for social in contact_data.social_links.all %}
                      <li>
                        <a href="{{ social.url }}" target="_blank">
                          <i class="fa-brands fa-{{ social.platform }}"></i>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <form method="post" action="" class="form-style1">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      name="name"
                      type="text"
                      class="form-control"
                      placeholder="Full Name*"
                      required
                      autocomplete="off"
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      placeholder="Your Email*"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      name="phone_number"
                      type="tel"
                      class="form-control"
                      placeholder="Your Phone*"
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      name="subject"
                      type="text"
                      class="form-control"
                      placeholder="Subject*"
                      required
                    />
                  </div>
                  <div class="col-12 form-group">
                    <textarea
                      name="message"
                      class="form-control"
                      placeholder="Your Message..."
                      required
                    ></textarea>
                  </div>
                  <div class="col-12 form-group mt-2 mb-0">
                    <button class="vs-btn" type="submit">Send Message</button>
                  </div>
                  {% if form.errors %}
                    <div class="col-12 mt-3 text-danger">
                      Please correct the errors in the form.
                    </div>
                  {% endif %}
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </section>
      <!--================= Contact Area end =================-->

      <!--================= Map Area start =================-->
      <div class="map-layout1">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080516.56465593!2d-8.417457955253294!3d30.837566135417646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdbe79c0a44231e1%3A0x23a36d28a03a074c!2sTagounite%2C%20Morocco!5e0!3m2!1sen!2sbd!4v1747003600386!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <!--================= Map Area end =================-->

{% endblock %}