{% extends "base.html" %}
{% block title %}Guide of the Year{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Meet Our Guide of the Year</h2>
    <p>We're proud to recognize the exceptional guides who go above and beyond to make every traveler's journey unforgettable.</p>

    <div class="row mt-4 align-items-center">
      {% for guide in guide_of_the_year %}
      <div class="col-md-4 text-center">
        <img src="{{ guide.photo.url }}" alt="Guide Image" class="rounded-circle mb-3">
        <h5>{{ guide.guide.get_full_name }}</h5>
        <p class="text-muted">{{ guide.guide.get_profile.location }}</p>
      </div>
      <div class="col-md-8">
        <p>{{ guide.description|safe }}</p>
        <p>{{ guide.quote }}</p>
      </div>
      {% endfor %}
    </div>

</section>
{% endblock %}