{% load static %}
<footer class="vs-footer-style1" data-bg-src="{% static 'img/footer/footer-style1-bg.png' %}" >

<div class="footer-center space-extra">
  <div class="container">
    <div class="row gx-4 gy-4 gx-xl-2 justify-content-between">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="footer-widgets">
          <a href="index.html" class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo" />
          </a>
          <div class="social-media">
            <ul class="custom-ul">
              <li>
                <a href="https://web.facebook.com/okatrip/" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i
                ></a>
              </li>
              
              <li>
                <a href="https://www.instagram.com/oka_tripclub/" target="_blank"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://www.youtube.com/@okatripclub" target="_blank"
                  ><i class="fa-brands fa-youtube"></i
                ></a>
              </li>
            </ul>
          </div>

          <p class="mt-4 mb-3 text-color-5">
            Stay connected for future updates.
          </p>
          <div class="newsletter">
            <form action="https://html.vecurosoft.com/tripix/tripix-demo/index.html" class="w100">
              <input
                type="email"
                class="form-control"
                placeholder="Enter Email Address"
              />
              <button type="submit" class="text-uppercase text-color-5">
                <i class="fa-solid fa-angles-right"></i>
                <span>Subscribe now</span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 order-md-3 order-lg-2">
        <div class="footer-widgets">
          <h5 class="widgets-title text-white-color text-capitalize">
            Useful Links
          </h5>
          <div class="row gx-xl-2 g-2">
            <div class="col-md-6">
              <div class="footer-links">
                <ul class="custom-ul">
                  <li>
                    <a href="{% url 'help_center' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Help center
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'about' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'contact' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'become_a_guide' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Become A Guide
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'post-list' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Blog
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-links">
                <ul class="custom-ul">
                  <li>
                    <a href="{% url 'guide_of_the_year' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Guide of the Year
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'guide_registration' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Guide registration
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'creators' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Creators
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'travel_agents' %}">
                      <i class="fa-solid fa-angles-right"></i>
                      Travel agents & advisors
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3 order-md-2 order-lg-3">
        <div class="footer-widgets">
          <h5 class="widgets-title text-white-color text-capitalize">
            instagram
          </h5>
          <div class="instagram">
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="{% static 'img/instagram-post/instagram-1.png' %}"
                alt="instagram-1"
                class="w-100"
              />
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="{% static 'img/instagram-post/instagram-2.png' %}"
                alt="instagram-2"
                class="w-100"
              />
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="{% static 'img/instagram-post/instagram-3.png' %}"
                alt="instagram-3"
                class="w-100"
              />
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="{% static 'img/instagram-post/instagram-4.png' %}"
                alt="instagram-4"
                class="w-100"
              />
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="{% static 'img/instagram-post/instagram-5.png' %}"
                alt="instagram-5"
                class="w-100"
              />
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="{% static 'img/instagram-post/instagram-6.png' %}"
                alt="instagram-6"
                class="w-100"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom bg-third-theme-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1">
        <p class="footer-copyright text-center text-md-start">
          © <span class="current-year"></span>
          <a
            href="index.html"
            title="Develop by Md Kaium Hossain"
            class="text-theme-color"
            >Tripix</a
          >, All Rights Reserved.
        </p>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <div class="footer-menu">
          <ul
            class="custom-ul justify-content-center justify-content-md-end"
          >
            <li><a href="{%  url 'about' %}">About Us</a></li>
            <li><a href="{% url 'faq' %}">Faq’s</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>