{% load static %}
<!-- Jquery -->
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<!-- Jquery UI -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Jquery UI -->
<script src="{% static 'js/moment.min.js' %}"></script>
<!-- Jquery UI -->
<script src="{% static 'js/daterangepicker.min.js' %}"></script>
<!-- Swiper Slider -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- WOW.js Animation -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Image Loaded Jquery -->
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<!-- Odometer JS -->
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/viewport.jquery.js' %}"></script>
<!-- Gsap -->
<script src="{% static 'js/gsap.min.js' %}"></script>
<!-- ScrollTrigger -->
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<!-- ScrollToPlugin -->
<script src="{% static 'js/ScrollToPlugin.min.js' %}"></script>
<!-- SplitText -->
<script src="{% static 'js/SplitText.min.js' %}"></script>

<!-- Main Js File -->
<script src="{% static 'js/main.js' %}"></script>