{% extends "base.html" %}
{% load static %}
{% block title %}Blog{% endblock %}

{% block content %}

      <!--================= Breadcrumb Area start =================-->
      <section
        class="vs-breadcrumb"
        data-bg-src="{% static 'img/bg/breadcrumb-bg.png' %}"
      >
        <img
          src="{% static 'img/icons/cloud.png' %}"
          alt="vs-breadcrumb-icon"
          class="vs-breadcrumb-icon-1 animate-parachute"
        />
        <img
          src="{% static 'img/icons/ballon-sclation.png' %}"
          alt="vs-breadcrumb-icon"
          class="vs-breadcrumb-icon-2 animate-parachute"
        />
        <div class="container">
          <div class="row text-center">
            <div class="col-12">
              <div class="breadcrumb-content">
                <h1 class="breadcrumb-title">Latest News</h1>
              </div>
              <div class="breadcrumb-menu">
                <ul class="custom-ul">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li>our blog</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


            <!--================= Destination Area Start =================-->
      <section class="vs-blog-wrapper space">
        <div class="container">
          <div class="row gx-3 g-5">
            <div class="col-lg-8">

              <div class="row g-4 gy-4 gy-sm-5">
                {% for post in posts %}
                <div class="col-12">
                  <div class="vs-blog vs-blog-box3">
                    
                    {% if post.image %}
                      
                      
                    <div class="blog-img">
                      <a href="{{ post.get_absolute_url }}">
                        <img
                          class="img"
                          src="{{ post.image.url }}"
                          alt="{{post.title}}"
                        />
                      </a>
                    </div>
                    {% endif %}
                    <div class="blog-content">
                      <div class="blog-meta">
                        <span class="blog-author"
                          >Written by:<a href="blog.html">{{post.author}}</a></span
                        >
                        <span class="blog-date">
                          <i class="fa-regular fa-calendar-days"></i>
                          {{ post.created_at|date:"F j, Y" }}
                        </span>
                      </div>
                      <h3 class="blog-title">
                        <a href="{{ post.get_absolute_url }}">
                          {{post.title}}
                        </a>
                      </h3>
                      <p class="blog-text">
                        {{post.excerpt}}
                      </p>
                      <div class="blog-footer">
                        <a href="{{ post.get_absolute_url }}" class="blog-link">
                          read more
                          <i class="fa-sharp fa-regular fa-angles-right"></i>
                        </a>
                 
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sidebar-area">
                <div class="widget widget_search">
                  <h5 class="widget_title title-shep">Search</h5>
                  <form class="search-form"  action="{% url 'post-search' %}" method="get">
                    <input type="text" name="q" placeholder="Search here..." value="{{ request.GET.q }}" required />
                    <button type="submit"><i class="far fa-search"></i></button>
                  </form>


                </div>
                <div class="widget widget_recent-posts">
                  <h5 class="widget_title title-shep">Latest posts</h5>
                  <div class="recent-post-wrap">

                    {% for post in latest_posts_sidebar %}
                    <div class="recent-post">
                      
                      <div class="media-body">
                        <div class="recent-post-meta">
                          <a href="blog.html">
                            <i class="fa-solid fa-calendar"></i>
                            {{post.created_at|date:"F j, Y"}}
                          </a>
                        </div>
                        <h6 class="post-title">
                          <a class="text-inherit" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h6>
                      </div>
                    </div>
                   {% endfor %}

                  </div>
                </div>
                <div class="widget widget_categories">
                  <h5 class="widget_title title-shep">Categories</h5>
                  <ul class="custom-ul">
                    {% for category in categories %}  
                    <li>
                      <a href="{% url 'posts-by-category' slug=category.slug %}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                  
                  </ul>
                </div>
                <div class="widget widget_meta">
                  <h5 class="widget_title title-shep">Tags</h5>
                  <div class="tagcloud">
                    {% for tag in tags %}
                    <a href="{% url 'posts-by-tag' slug=tag.slug %}">{{ tag.name }}</a>
                    {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>































{% endblock %}