{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="author" content="https://is.gd/a33FWT" />
    <title>
      {% block title %}Tripix - Tours & Travels HTML5 Template | Vecuro{% endblock %}
    </title>

    <meta
      name="description"
      content="{% block meta_description %}Tripix - Tours & Travels HTML5 Template, a stunning and feature-rich solution for travel agencies and tour operators.{% endblock %}"
    />
    <meta
      name="keywords"
      content="{% block meta_keywords %}Tripix, Tours and Travels, HTML5 Template, Vecuro, Travel Agency Template, Tour Operator Template{% endblock %}"
    />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="developer" content="Md Kaium Hossain" />

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicons - Place favicon.ico in the root directory -->
    {% include 'includes/favicons.html' %}
    
    <!--=================
	  Google Fonts
	================= -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Bricolage+Grotesque:opsz,wght@12..96,200..800&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap"
      rel="stylesheet"
    />
    <!--=================
	    All CSS File
	================= -->
    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %}{% endblock %}
</head>

<body class="vs-body">
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    
    {% comment %} {% include 'includes/preloader.html' %} {% endcomment %}
    {% include 'includes/mobile_menu.html' %}
    {% include 'includes/search_box.html' %}
    
    <!-- Main Content -->
    <main class="main">
      {% include 'includes/header.html' %}
        {% block content %}{% endblock %}
    </main>
    
    {% include 'includes/footer.html' %}
    
    <!-- Back to Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    
    <!--================= All Js File ================= -->
    {% include 'includes/scripts.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>