<!-- templates/dashboard/my_bookings.html -->

{% extends "base.html" %}
{% block title %}My Bookings{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Bookings/Enquiries for Your Destinations</h2>

    {% if bookings %}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Destination</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
            <tr>
              <td>{{ booking.name }}   <a href="{% url 'booking-detail' pk=booking.id %}" class="btn btn-sm btn-info">View</a>
</td>
              <td>{{ booking.email }}</td>
              <td>
                {% if booking.destination %}
                  {{ booking.destination.name }}
                {% else %}
                  Deleted Destination
                {% endif %}
              </td>
              <td>{{ booking.EnquirySubject|default:"—" }}</td>
              <td>{{ booking.message|truncatechars:50 }}</td>
              <td>{{ booking.created_at|date:"M j, Y g:i A" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>You have no bookings yet.</p>
    {% endif %}

  </div>
</section>
{% endblock %}